.footer {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;

    &__title {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: $white-opacity;
        text-align: center;
    }
}