.menu {
    padding: 70px 0 75px;

    h2 {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        max-width: 565px;
        margin: $mc;
        line-height: 28px;
    }

    .tabs-container {
        @include flex(row, center, center);
        margin: 45px auto 55px;
        position: relative;
        height: 60px;
        overflow-y: hidden;
        overflow-x: auto;
        max-width: $container;

        &::-webkit-scrollbar {
            height: 8px;
            background-color: $tabsColor;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $yellow;
        }
    }

    .tabs {
        @include flex(row, center, center);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        &__item {
            @include flex(row, center, center);
            min-width: 163px;
            cursor: pointer;
            font-weight: 700;
            font-size: 12px;
            transition: $transition;
            color: $tabsColor;
            height: 47px;
            text-align: center;
            border-right: 1px solid $tabs-opacity;

            &:last-child {
                border: none;
            }

            &:hover,
            &.active {
                background-color: $yellow;
            }
        }

        &.overflow {
            left: 0;
            transform: none;
        }
    }

    &__sliders {
        position: relative;
        max-width: $container;
        margin: 0 auto;
        overflow: hidden;
        height: 460px;
    }

    &__slider-container {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: 1s ease;

        &.show {
            opacity: 1;
            z-index: 2;
        }
    }

    .slider {
        height: 100%;

        &__item {
            @include flex(row, space-between, center);
            max-width: 500px;
            height: 170px;

            &-image {
                width: 250px;
                height: 170px;
                object-fit: cover;
                border: 4px solid $yellow;
            }

            &-text {
                max-width: 220px;
                margin-left: 25px;
            }
        }

        &__title,
        &__price {
            font-family: $kurale;
            font-weight: 400;
            font-size: 18px;
            color: $tabsColor;
        }

        &__title {
            display: inline-block;
            margin-top: 20px;
            border-bottom: 1px solid $tabsColor;
        }

        &__description {
            font-weight: 400;
            font-size: 12px;
            color: $gray-opacity;
            line-height: 14px;
            margin-top: 20px;
        }

        &__pagination {
            @include flex(row, center, center);
            position: absolute;
            width: 100%;
            z-index: 2;

            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $gray-opacity;
                cursor: pointer;
                transition: $transition;
                opacity: 70%;
                margin: 0 10px;

                &:hover,
                &-active {
                    background: $yellow;
                    opacity: 100%;
                }
            }
        }
    }

    .swiper-slide {
        height: 170px;
        margin-bottom: 55px;
        display: flex;
        justify-content: center;
    }
}